.todo__wrapper{
  background-color: #213a59;
  padding: 10px 25px;
  box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  .add-task {
    margin-bottom: 24px;

    .form-task {
      display: flex;
      align-items: center;flex-grow: 1;
    }

    .task-massage {
      flex-grow: 1;
      height: 42px;
      padding: 0 14px;
      margin-right: 15px;
      caret-color: #031930;
      background-color: transparent;
      font-size: 20px;
      border: #031933 2px solid;
      border-radius: 7px;
      color: #D1DDED;

      &::placeholder {
        font-size: 20px;
        transition: color 0.1s ease-in-out;
        color: #758ba5;
      }

      &:hover,
      &:focus {
        border-color: #3684DB;
      }
    }

    .task-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .list-todo{
    display: flex;
    gap: 7px;
    align-items: flex-start;
    margin-bottom: 10px;

    .todo-task-info{
      resize: none;
      width: 100%;
      color: white;
      background-color: transparent;
      min-height: 24px;

      &:focus{
        border-color: #3684DB;
      }
    }

    .list-actions{
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

}








