#root {
    background: linear-gradient(180deg, #b4d6f9 0%, #163c6b 100%);
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    max-width: 100vw;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(161, 200, 224, 0.76);
}

body::-webkit-scrollbar-thumb:hover {
    background: #A1C8E0;
}

